@font-face {
    font-family: 'Spartan';
    src: url(~@/assets/fonts/spartan/Spartan-Regular.ttf);
}
@font-face {
    font-family: 'Spartan-Semi';
    src: url(~@/assets/fonts/spartan/Spartan-SemiBold.ttf);
}
@font-face {
    font-family: 'Spartan-Bold';
    src: url(~@/assets/fonts/spartan/Spartan-Bold.ttf);
}