
// COLOR PALETTE

$brandClr: #13bfb1;
$primaryDark: #1e2c47;
$primaryLight: #545e73;
$secondaryDark: #7f8696;
$secondaryLight: #ced2d7;
$neutralDark: #f7f8fa;
$neutralLight: #ffffff;

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-med: 960px;

$break-wide: 1100px;
$width-wide: 1000px;
